*{
    font-family: JetBrainsMono;
    font-size: 13px;
    min-height: 0;
    color: white;
}

window#waybar {
    background: #000000;
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
}

#workspaces{
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button{
    border-radius: 15px;
    margin-right: 10px;
    padding: 1px 10px;
    font-weight: bolder;
    background-color: transparent;
}

#workspaces button.active, #workspaces button.focused{
    padding: 0 22px;
    box-shadow: 0px 5px 10px 0px rgba(1, 1, 1, 0.5);
    background: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#tray,
#mpd,
#custom-weather,
#cpu, 
#temperature, 
#memory,
#sway-mode,
#backlight, 
#pulseaudio, 
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery, 
#clock, 
#network {
	padding: 0 10px;
}

